html,body{
	height: 98%;
	overflow: hidden;
	font-size: 100%;
}
td{
	text-align: center;
	vertical-align: middle!important;
	/*font-size: 300%;*/
}
td:hover{
	background-color: #aaa;
}
table{
	height: 92%;
}

.bigicon{
	font-size: 250%;
}
footer{
	bottom: 0;
	position: fixed;
	background-color: #ddd;
	width: 100%;
	height: 4%;
}
#foot{
	margin-left: 5%;
}
#title-text{
	text-align: center;
}